#main{
  width: 1024px !important;
  height: 600px !important;
  overflow: hidden !important;
}
h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}
.card{
    color: #fff;

    /* ten background tylko na portzbey zdaania, pozneij usunac;     */
    background-color: #000;    
}
.card__info {
    font-size: 1rem;
}
.card-title {
    color: #FA8072;
    font-size: 1.8rem;
}
.card__temp {
    font-size: 40px;
    font-size: 3.0rem;
    margin-bottom: 0;
}
.card__temp sup {
    top: -.5em;
    top: -.7em;
    font-size: 50%;
}
.card__figure {
    height: 3.5rem;
}
.card-icon {
    width: 21px;
    margin-right: 7px;
}
.card-bigger {
    font-size: 1.2rem;
    margin-bottom: 0.9rem;
}
.card-smaller {
    font-size: 0.9rem;
}
.water-div {
    margin-top: 10rem;
}